<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>21979405496-al22a21135g7gdb4onn78gqiolrl6qa6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.21979405496-al22a21135g7gdb4onn78gqiolrl6qa6</string>
	<key>API_KEY</key>
	<string>AIzaSyDnekkGVYGl_OOZpxWQmCfmcqwQ7rxLJJk</string>
	<key>GCM_SENDER_ID</key>
	<string>21979405496</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.photoAlbum</string>
	<key>PROJECT_ID</key>
	<string>photo-album-8161e</string>
	<key>STORAGE_BUCKET</key>
	<string>photo-album-8161e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:21979405496:ios:fc6861b19c12767b83684d</string>
</dict>
</plist>